@using Microsoft.AspNetCore.Identity
@using Where_is_my_Fluffymoon.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><h4><span class="badge badge-light">@UserManager.GetUserAsync(User).Result.FirstName</span></h4></a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-light"><h4><span class="badge badge-danger">Logout</span></h4></button>
        </form>
    </li>
}
</ul>
