@page "/"

<title>Index</title>

<BodyStyle/>
<NavMenu/>

<section style="margin-top: 20px;">
    <div class="container">

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-info">
                    <img src="sample-data/pets.gif" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hank</h5>
                        <p class="card-text">Hank the rabbit is lost. Please help me find him!!!</p>
                        <a href="" class="btn btn-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-info">
                    <img src="sample-data/pets.gif" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hank</h5>
                        <p class="card-text">Hank the rabbit is lost. Please help me find him!!!</p>
                        <a href="" class="btn btn-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-info">
                    <img src="sample-data/pets.gif" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hank</h5>
                        <p class="card-text">Hank the rabbit is lost. Please help me find him!!!</p>
                        <a href="" class="btn btn-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-info">
                    <img src="sample-data/pets.gif" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hank</h5>
                        <p class="card-text">Hank the rabbit is lost. Please help me find him!!!</p>
                        <a href="" class="btn btn-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-info">
                    <img src="sample-data/pets.gif" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hank</h5>
                        <p class="card-text">Hank the rabbit is lost. Please help me find him!!!</p>
                        <a href="" class="btn btn-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-info">
                    <img src="sample-data/pets.gif" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hank</h5>
                        <p class="card-text">Hank the rabbit is lost. Please help me find him!!!</p>
                        <a href="" class="btn btn-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-info">
                    <img src="sample-data/pets.gif" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hank</h5>
                        <p class="card-text">Hank the rabbit is lost. Please help me find him!!!</p>
                        <a href="" class="btn btn-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-info">
                    <img src="sample-data/pets.gif" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hank</h5>
                        <p class="card-text">Hank the rabbit is lost. Please help me find him!!!</p>
                        <a href="" class="btn btn-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

