@model Where_is_my_Fluffymoon.Models.Pet

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3 justify-content-center align-self-center">
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </div>
    <div class="col-md-6">
        <h1 class="text-center">Edit</h1>
    </div>
    <div class="col-md-3"></div>
</div>
<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 card pt-2">
        <form asp-action="Edit" EncType="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label">Image</label>
                <input runat="server" type="file" asp-for="ImagePath" class="form-control" id="customFile" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoordinatesLong" class="control-label"></label>
                <input asp-for="CoordinatesLong" class="form-control" />
                <span asp-validation-for="CoordinatesLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoordinatesLat" class="control-label"></label>
                <input asp-for="CoordinatesLat" class="form-control" />
                <span asp-validation-for="CoordinatesLat" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Created_at" class="control-label"></label>
                <input asp-for="Created_at" class="form-control" />
                <span asp-validation-for="Created_at" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Updated_at" class="control-label"></label>
                    <input asp-for="Updated_at" class="form-control" />
                    <span asp-validation-for="Updated_at" class="text-danger"></span>
                </div>*@
            <div class="form-group" hidden>
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group text-right">
                <input runat="server" type="submit" value="Save" class="btn btn-primary w-50" />
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
