
@{
    ViewData["Title"] = "Error403";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md"></div>
    <div class="col-md">
        <img src="@Url.Content("~/HelperImages/Error403.jpg")" alt="Forbidden" />
    </div>
    <div class="col-md"></div>
  </div>
</div>