
@{
    ViewData["Title"] = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md"></div>
    <div class="col-md">
        <img src="@Url.Content("~/HelperImages/Error404.jpg")" alt="Not Found" />
    </div>
    <div class="col-md"></div>
  </div>
</div>